.performance-table-container {
    display: flex;
    justify-content: center; /* Center the table horizontally */
    margin-top: 20px;
}

.performance-table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
}

.performance-table th,
.performance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.performance-table th {
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
}

.performance-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.performance-table tr:hover {
    background-color: #f1f1f1;
}

.chart-container-spec {
    display: flex;
    justify-content: center; /* Center the table horizontally */
    margin-top: 20px;
}

.chart-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
}
