/* Page Description */
.page-description {
    width: 100%;
    font-size: 1.0rem;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Box styles */
.risk-classification-box {
    width: 1000px;
    background-color: #97D077;
    padding: 1px;
    margin: 20px auto;
    align-items: center;
}

/* Metrics container */
.metrics-container {
    margin-bottom: 20px;
}

.metrics-info {
    padding: 10px 20px;
}

.metrics-title {
    margin: 0;
}

.metrics-description {
    margin: 10px 0;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verif-stepper-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.footer, .footer-last {
    padding: 10px 20px;
    text-align: left;
}

/* Media Queries */
@media (max-width: 1200px) {
    .page-description {
        font-size: 0.9rem;
    }

    .metrics-info {
        padding: 10px;
    }

    .verif-stepper-buttons {
        padding: 10px;
    }

    .footer, .footer-last {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .metrics-info {
        padding: 5px;
    }

    .verif-stepper-buttons {
        flex-direction: column;
        align-items: center;
    }

    .verif-stepper-button-back, .verif-stepper-button-next {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .page-description {
        font-size: 0.8rem;
    }
}