
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px
}

.footer {
    font-size: 0.6rem;
    width: 750px;
}

/* Buttons */
@media (max-width: 768px) {
    .dropdown-container {
        flex-basis: calc(100% - 20px); /* Full width on smaller screens */
    }
}

.verif-stepper-buttons {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    gap: 10px; /* Adds space between buttons */
    margin-top: 30px; /* Adds some space above the buttons */
}


.verif-stepper-button-back,
.verif-stepper-button-next {
    font-weight: bold;
    color: #0066CC; /* Blue title */
    margin: 0 50px; /* Adjust the margin to increase the space between buttons */
}

@media (max-width: 768px) {
    .verif-stepper-buttons {
        flex-direction: column;
        align-items: center; /* Center buttons vertically */
    }

    .verif-stepper-button-back,
    .verif-stepper-button-next {
        margin: 10px 0; /* Add margin between buttons vertically */
    }
}
  
  