.consistency-table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.consistency-table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
}

.consistency-table th,
.consistency-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.consistency-table th {
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
}

.consistency-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.consistency-table tr:hover {
    background-color: #f1f1f1;
}
